<header>
  <nav class="navbar  navbar-fixed-top navbar-inverse">
    <div class="container">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="<%=root_path%>" title="">01 : Accueil</a></li>
          <li><a href="<%=pages_messages_path%>" title="">02 : Les messages</a></li>
          <li><a href="<%=new_message_path%>" title="">03 : Écrire un message</a></li>
          <li><a href="<%=pages_pourquoi_path%>" title="">04 : Pourquoi #MAJSD</a></li>
          <li><a href="<%=pages_fonctionnement_path%>" title="">05 : Notre fonctionnement</a></li>
          <li><a href="<%=pages_mentions_legales_path%>" title="">06 : Mentions légales</a></li>
          <li><a href="<%=pages_admin_path%>" title="">07 : Espace Admin</a></li>
          <% if current_user.present?%>
            <li><a href="<%=destroy_user_session_path%>" title="">08 : Déconnexion</a></li>
          <%end%>
        </ul>
      </div>
    </div>
  </nav>
</header>


