
<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>

<link href="/assets/main.3f6952e4.css" rel="stylesheet"></head>

<script type="text/javascript" src="/assets/main.70a66962.js"></script>
 <!-- Add your content of header -->
<div class=" background-image-container white-text-container" style="background-image: url('https://res.cloudinary.com/dz83jh064/image/upload/v1630962761/fondvierge_shtwyk.png'); background-attachment:local; min-height: 1000px;">
<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">Voir et commenter un message</h1>
            <h3>Chaque commentaire sera modéré pour le moment afin de respecter la charte tout en préservant la liberté d'expression</h3>
          </div>
          <div class="card">
              <div class="card-header" style="background-color:grey;color:black;">
                   Contenu du message publié le <%=@message.created_at.strftime("%d.%m.%Y") %></div>



              <div class="card-body" style="background-color:white;color:black;">
                <% if @message.photos.attached?%>

                  <% @message.photos.each do |photo| %>
                    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
                  <% end %>


              <%end%>
                <p class="card-text" style="background-color:white;color:black;" ><%=@message.content%></p>
              </div>
            </div>

            <% @messagecommits.each do |commit|%>

            <div class="card">

              <div class="card-body" style="background-color:grey;color:black;">
                <p class="card-text" style="background-color:grey;color:black;" >Publié le <%=commit.created_at.strftime("%d.%m.%Y")%> : <%=commit.content%></p>
                <% if current_user%>
                  <%= link_to 'Effacer', refus_messagecommit_path(id: commit.id) , class:"btn btn-primary", style:"background-color:grey;color:black;"%>

                <%end%>
              </div>
            </div>

            <%end%>

              <%= simple_form_for [@message, @messagecommit], class: 'login-box' do |f| %>

          <div class="row">
            <div class="col-md-10 col-md-offset-1">


               <form action="" class="reveal-content">
                  <div class="row">
                    <div class="col-md-7">

                      <div class="form-group">
                        <%= f.input :content, class: "form-control ", label:false, placeholder:"Écrivez votre commentaire ici", input_html: {style: 'height:100px;'}, required: true %>
                      </div>

                      <button style="background-color:white; color:grey;" type="submit" class="btn btn-default btn-lg">Soumettre à l'équipe</button>
                    </div>
                    <div class="col-md-5 address-container">
                      <ul style="color:white;" class="list-unstyled">

                        <li>
                          <span class="fa-icon">
                            <i style="color:white;" class="fa fa-at" aria-hidden="true"></i>
                          </span>
                          webmaster@moiaussijesuisdentiste.fr
                        </li>
                        <li>
                          <span class="fa-icon">
                            <i style="color:white;" class="fa fa fa-map-marker" aria-hidden="true"></i>
                          </span>
                          Paris
                        </li>
                      </ul>
                      <h3>Suivez-nous sur les réseaux sociaux</h3>
                      <a href="http://www.facebook.com" title="" class="fa-icon">
                        <i class="fa fa-facebook"></i>
                      </a>
                      <a href="http://www.twitter.com" title="" class="fa-icon">
                        <i class="fa fa-twitter"></i>
                      </a>
                      <a href="http://www.linkedin.com" title="" class="fa-icon">
                        <i class="fa fa-linkedin"></i>
                      </a>

                    </div>
                  </div>
                </form>

            </div>

          </div>
              <%end%>

       </div>
      </div>
    </div>
  </div>
</div>



<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

